<a href="https://colab.research.google.com/github/nafiulaziz/codes_in_python/blob/main/random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Bangladesh")

Hello Bangladesh

In [2]:
z = int("3")
z=z+3
print(z)

6

In [3]:
print('Hellow Bangladesh')

Hellow Bangladesh

In [4]:
p=105
print(p)
type(p)

105

int

In [5]:
2*3+4

10

In [6]:
b = 2.0
print (b*3.0)
print(5.0**3)

6.0
125.0

In [7]:
input()

45

'45'

In [8]:
n = float(input( "enter num1: "))
print(n)

enter num1: 12
12.0

In [9]:
#calcu
m = float(input( "enter num1: "))
o = input( "enter operator: ")
n = float(input( "enter num2: "))
if o=="+":
  print("addition is: ", +(m+n))
elif o=="-":
  print("substration is: ", +(m-n))
else:
  print("enter op")

enter num1: 12
enter operator: +
enter num2: 12
addition is:  24.0

In [10]:
#while_loop
i=1
while i<6:
  print(i)
  i=i+1

1
2
3
4
5

In [11]:
y=int(3)
print(float(y))

3.0

In [12]:
z=5.2
print(int(z))
print(z**3)
print(6/2)

5
140.608
3.0

In [13]:
number= input("enter the number: ")
print("The number is:",number)

enter the number: 12
The number is: 12

In [14]:
number= int(input("enter the number: "))
print("Total number is:", (number+100))

enter the number: 12
Total number is: 112

In [15]:
y = int("3")
print(y)
print(float(y))
type(y)

3
3.0

int

In [16]:
na = "Nafiul Aziz Ifty"
print(na[3:8])

iul A

In [17]:
for i in range(5):
 print (i)

0
1
2
3
4

In [19]:
for i in range(1,5):
 print (i)

1
2
3
4

In [20]:
for i in range(1,11,2):
 print (i)

1
3
5
7
9

In [21]:
for i in "Apple":
 print (i)

A
p
p
l
e

In [22]:
dic = {1:'rifat', 2:'sifat'}
print(dic[2])
type(dic)

sifat

dict

In [23]:
s="I live in Dhaka."
print(len(s))

16

In [24]:
text ="Hello, this is Ifty"

print(text[16:19])
if "Ifty" in text:
    print ("Ifty is present in the text.")
else:
  print("not in the text")

fty
Ifty is present in the text.

In [25]:
i = 1
while i<5:
 print(i, end=" ")
 i+=1
 print("Covid")

1 Covid
2 Covid
3 Covid
4 Covid

In [27]:
for i in range(1,5):
  print(i, end=" ")
  print("Covid")

1 Covid
2 Covid
3 Covid
4 Covid

In [28]:
n = input("Enter your age ")
print(n)

Enter your age 12
12

In [29]:
input("Enter your age ")

Enter your age 12

'12'

In [30]:
x = 4
x **= 2
print(x)

16

In [31]:
x = 4
f= 2
print(x**f)

16

In [32]:
text ="Hello, World"

print(text[4:9])

o, Wo

In [33]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *